<! doctype html> <! --tell browswer what typw of document is presented-->
<html>
    <head>
        <title>
            Finstagram <! title of the page that shows up in browswer>
        </title>

        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <title>Finstagram</title>
        
    <body>
        <header>
            <h1> <! used for text headings, browswers have default styles>
                Finstagram
            </h1>
        </header>
        <!have options as to which tag to use for the section after our>
        <main role="main"><! where main content will go>
            <article class="finstagram-post"><!add a wrapper tag for a single post – that is, a tag that will "wrap" all the content for an individual Finstagram post>
                <div class="user-info">
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j"><! img to show image posted>
                    <! The alt property of the image tag is there to provide information about the image in case the image doesn't load correctly. 
                    It is also read by screen readers for the visually impaired.>
                    <h2>sharky_j</h2> <! shows username>
                    <h3>15 minutes ago</h3><! smaller than h2 to show time posted>
                </div>
                <a class="photo" href="#"> <! (anchor) tag gives you the power of linking!>
                    <! The href attribute is what you're linking to>
                    <! leaving a dummy value there (#) because we don't have another page to link to yet>
                    <img src="http://naserca.com/images/shark.png" alt="post from shark_j">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">
                        0 comments
                    </span>
                </div>
                    <ul class="comments">
                        <li><! comments are listed in the ul (unordered list) tag within li, common pattern when need to display list of things>
                            <p>
                                shark_j: Out for the long weekend.. too embarrasses to show beach bod ;D!
                            </p>
                        </li>
                    </ul>
            </article>
        </main>
    </body>
    </head>
</html>
